{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
  // "rules": {
  //   "indent": [
  //     "error",
  //     4,
  //     {"SwitchCase": 1}
  //   ]
  // }
}